#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.home-page h1{
  font-size: 32px;
}
.game-completed{
  background-color: #070707b8;
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
}
.game-completed h1{
  font-size: 60px;
  font-weight: bold;
  background-color: #3c2d13;
background-image: linear-gradient(62deg, #3c2d13 0%, #F7CE68 100%);
-webkit-background-clip: text;
color: transparent;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  grid-auto-rows: 150px;
  gap: 20px;
  justify-content: center;
}

.flip-card {  
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #434141;
  color: black;
  border-radius: 4px;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(11, 12, 12);
  color: white;
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
  font-size: 50px;
  border-radius: 4px;
}  


@media only screen and (min-width: 243px) {
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 80px;
    gap: 20px;
    justify-content: center;
  }
  .flip-card-back {
   font-size: 36px;
  } 
}

@media only screen and (min-width: 320px) {
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 60px;
    gap: 20px;
    justify-content: center;
  }
  .flip-card-back {
    font-size: 30px;
   } 
}
@media only screen and (min-width: 478px) {
  .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 75px;
    gap: 15px;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 857px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
   .flip-card-back {
    font-size: 40px;
   } 
}
@media only screen and (min-width: 824px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 896px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 904px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1034px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
    grid-auto-rows: 90px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
    grid-auto-rows: 100px;
    gap: 20px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1244px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
    grid-auto-rows: 100px;
    gap: 10px;
    justify-content: center;
  }
   .flip-card-back {
    font-size: 50px;
   } 
}
@media only screen and (min-width: 1315px) {
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    grid-auto-rows: 130px;
    gap: 20px;
    justify-content: center;
  }
}
